.change_btn, .delete_btn {
    cursor: pointer;
}

.change_btn:hover, .delete_btn:hover {
    background: #FF8400;
    color: #18171B;
}

.change_data_window {
    display: none;
}
.change_data_window.active {
    display: block;
}
